{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * signupurl - Signup url,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.,
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "languagemenu": "Choose language"
    }
}}

<div class="loginform">
    {{#logourl}}
        <div id="loginlogo" class="login-logo">
            <img id="logoimage" src="{{logourl}}" class="img-fluid" alt="{{sitename}}"/>
            <h1 class="login-heading sr-only"> {{sitename}} </h1>
        </div>
    {{/logourl}}
    {{^logourl}}
        <h1 class="login-heading mb-4">{{sitename}} </h1>
    {{/logourl}}
    {{#maintenance}}
        <div class="alert alert-danger login-maintenance">
            {{{maintenance}}}
        </div>
    {{/maintenance}}
    {{#error}}
        <a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/error}}
    {{#cansignup}}
        <a href="{{signupurl}}" class="sr-only">{{#str}} tocreatenewaccount {{/str}}</a>
    {{/cansignup}}
    <div> 
    Уважаемые пользователи, обратите внимание! <br /><br />
    Для доступа к платформе вместо прежнего логина формата `<b>ivanpetrov</b>`, потребуется вводить ваш <b>адрес электронной почты целиком</b>.<br /><br>

Например, <br>
`ivanpetrov@kantiana.ru' для <b>сотрудников</b> БФУ им. И. Канта<br>
`ivanpetrov@stud.kantiana.ru' для <b>студентов</b> БФУ им. И. Канта<br>
`ivanpetrov@mail.ru' (почта, которую вы указали в заявке на обучении) для <b>слушателей курсов ДПО</b><br><br>

Просим вас учесть эти изменения и в случае возникновения вопросов обращаться в <a href="https://lms.kantiana.ru/mod/page/view.php?id=272183">службу технической поддержки</a>. <br /><br />

Для справки: <b>Как изменить пароль, сохраненный в браузере? </b><br />


<a href="https://browser.yandex.ru/help/security/passwords-manager.html#view-edit-delete">В Яндекс Браузере</a> <br />
<a href="https://support.google.com/chrome/answer/95606?hl=ru&co=GENIE.Platform%3DDesktop&oco=0#zippy=%2C%D0%BA%D0%B0%D0%BA-%D0%BF%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80%D0%B5%D1%82%D1%8C-%D0%B8%D0%B7%D0%BC%D0%B5%D0%BD%D0%B8%D1%82%D1%8C-%D1%83%D0%B4%D0%B0%D0%BB%D0%B8%D1%82%D1%8C-%D0%B8%D0%BB%D0%B8-%D1%8D%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-%D1%81%D0%BE%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5-%D0%BF%D0%B0%D1%80%D0%BE%D0%BB%D0%B8">В Google Chrome</a><br />
<a href="https://support.microsoft.com/ru-ru/microsoft-edge/%D0%B7%D0%B0%D0%BF%D0%BE%D0%BC%D0%B8%D0%BD%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B8-%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%B0%D1%80%D0%BE%D0%BB%D0%B5%D0%B9-%D0%B2-microsoft-edge-b4beecb0-f2a8-1ca0-f26f-9ec247a3f336">В Microsoft Edge</a><br><br>
    </div>
    <form class="login-form" action="{{loginurl}}" method="post" id="login">
        <input type="hidden" name="logintoken" value="{{logintoken}}">
        <div class="login-form-username form-group">
            <label for="username" class="sr-only">
                {{^canloginbyemail}}
                    {{#str}} username {{/str}}
                {{/canloginbyemail}}
                {{#canloginbyemail}}
                    {{#str}} usernameemail {{/str}}
                {{/canloginbyemail}}
            </label>
            <input type="text" name="username" id="username" {{!
                !}}class="form-control form-control-lg" {{!
                !}}value="{{username}}" {{!
                !}}placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{!
                !}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}" {{!
                !}}autocomplete="username">
        </div>
        <div class="login-form-password form-group">
            <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
            <input type="password" name="password" id="password" value="" {{!
                !}}class="form-control form-control-lg" {{!
                !}}placeholder="{{#cleanstr}}password{{/cleanstr}}" {{!
                !}}autocomplete="current-password">
        </div>
        <div class="login-form-submit form-group">
            <button class="btn btn-primary btn-lg" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
        </div>
        <div class="login-form-forgotpassword form-group">
            <a href="{{forgotpasswordurl}}">{{#str}}forgotaccount{{/str}}</a>
        </div>
    </form>

    <div class="login-divider"></div>
        <p>
        <button class="btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#collapseFAQ" aria-expanded="false" aria-controls="collapseFAQ">
        Проблемы с входом
        </button>
        </p>

    <div class="collapse" id="collapseFAQ">
        <div>
            <p> 
            Проверьте правильность ввода логина. Ваш логин - это адрес почты
            </p>
            <p><strong>Если Вы являетесь слушателем курсов ДПО или студентом сторонней образовательной организации</strong>, оставьте обращение в <a href="https://lms.kantiana.ru/mod/page/view.php?id=272183">форме обратной связи</a></p>
            <p><strong>Если Вы сотрудник или студент БФУ им. И. Канта, проверьте следующее:</strong></p>
            <p>
            <ol>
                <li>Можете ли Вы войти в <strong>личный кабинет</strong> по адресу <a target="_blank" href=" https://eios.kantiana.ru/login/index.php">https://eios.kantiana.ru/login/index.php</a>.</li>
                <li>Если Вы <strong>смогли войти в личный кабинет</strong>, проверьте, можете ли вы войти в <strong>почтовый ящик</strong> по адресу <a target="_blank" href="https://webmail.kantiana.ru/">https://webmail.kantiana.ru/</a>. При входе в почтовый ящик логин вводится в формате: <strong>student\ваш_логин</strong> или<strong> students\ваш_логин</strong> (для студентов) и <strong>kantiana\ваш_логин </strong>(для сотрудников).</li>
                <li>Если у Вас <strong>не получилось войти в почту</strong>, пожалуйста, обратитесь в отдел технической поддержки учебного и административного процессов, и <strong>сообщите, что Вы не можете войти в почту</strong>.</li>
                <li>Если Вы <strong>смогли войти в почту</strong>, но <strong>не можете войти на LMS.kantiana</strong>, оставьте обращение в <strong><a href="https://lms.kantiana.ru/mod/page/view.php?id=272183">форме обратной связи</a></strong>.</li>
            </ol>
            </p>
        </div>
    </div>
    
    {{#hasinstructions}}
        <div class="login-divider"></div>
        <div class="login-instructions {{#cansignup}}mb-3{{/cansignup}}">
            <h2 class="login-heading">{{#str}}firsttime{{/str}}</h2>
            {{{instructions}}}
        </div>
    {{/hasinstructions}}
    {{#cansignup}}
        <div class="login-signup">
            <a class="btn btn-secondary" href="{{signupurl}}">{{#str}}startsignup{{/str}}</a>
        </div>
    {{/cansignup}}
    {{#canloginasguest}}
        <div class="login-divider"></div>
    {{/canloginasguest}}
    

    <p>
    <button class="btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#collapseScos" aria-expanded="false" aria-controls="collapseScos">
        Прочие способы входа
    </button>
    </p>

    <div class="collapse" id="collapseScos">
        <div>
        <p>Вход через учетную запись на портале "<a href="https://online.edu.ru" target=_blank>Современная цифровая образовательная среда в РФ</a>".</p>
        <p><strong>Обратите внимание!</strong></p>
        <p>Доступ через СЦОС имеет ограниченный функционал. Данные из этой учетной записи <strong>не учитываются</strong> в электронной информационно-образовательной среде БФУ и <strong>не могут быть использованы</strong> в Вашей учебе и работе.</p>
        <p>Пожалуйста, не используйте эту функцию, если вы:
        <ul>
            <li>студент БФУ им. И. Канта</li>
            <li>сотрудник БФУ им. И. Канта</li>
            <li>слушатель курсов повышения квалификации или переподготовки БФУ им. И. Канта</li>
        </ul>
        </p>    
        </div>
        {{#hasidentityproviders}}
            
            <div class="login-identityproviders">
                
                {{#identityproviders}}
                    <a class="btn login-identityprovider-btn btn-block" href="{{url}}" name="terms" id="terms" >
                        {{#iconurl}}
                            <img src="{{iconurl}}" alt="" width="24" height="24"/>
                        {{/iconurl}}
                        {{name}}
                    </a>
                {{/identityproviders}}
            </div>
        {{/hasidentityproviders}}
    </div>

    


<div class="login-divider"></div>
    <div class="d-flex">
        {{#languagemenu}}
            <div class="login-languagemenu">
                {{>core/action_menu}}
            </div>
            <div class="divider border-left align-self-center mx-3"></div>
        {{/languagemenu}}
        <button type="button" class="btn btn-secondary" {{!
        }} data-modal="alert"{{!
        }} data-modal-title-str='["cookiesenabled", "core"]' {{!
        }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
        }}>{{#str}}cookiesnotice{{/str}}</button>
    </div>
</div>

{{#js}}
    {{^error}}
        {{#autofocusform}}
            var userNameField = document.getElementById('username');
            if (userNameField.value.length == 0) {
                userNameField.focus();
            } else {
                document.getElementById('password').focus();
            }
        {{/autofocusform}}
    {{/error}}
    {{#error}}
        document.getElementById('loginerrormessage').focus();
    {{/error}}
{{/js}}
